<extend name="Base/common"/>
<!-- header start -->

<block name="header">
   <script language="javascript">
      var plarray = new Array();
      plarray[0] = new Array("{:C('DOMAIN')}__IMG__/banner04.jpg", '');
      plarray[1] = new Array("{:C('DOMAIN')}__IMG__/banner02.jpg", '');
      plarray[2] = new Array("{:C('DOMAIN')}__IMG__/banner03.jpg", '');
    </script>	
    <div id="bbb" class="adx" style="opacity: 1;">
      <!--style="background-color:#040922"-->
      <div class="ad_neix">
        <div id="srcid" onmouseover="document.getElementById(&#39;arrowleft&#39;).style.display=&#39;&#39;;document.getElementById(&#39;arrowright&#39;).style.display=&#39;&#39;;"
        onmouseout="document.getElementById(&#39;arrowleft&#39;).style.display=&#39;none&#39;;document.getElementById(&#39;arrowright&#39;).style.display=&#39;none&#39;;"
        style="position: relative; width: 100%; min-width: 1043px; height: 538px; background: url(&quot;{:C('DOMAIN')}__IMG__/banner02.jpg&quot;) 50% 0% no-repeat;">
          <img src="{:C('DOMAIN')}__IMG__/zuojiantou.png" width="50" height="126" id="arrowleft"
          onclick="leftOne0e76228ea4384003b1e970bf2bd40536();" style="position: absolute; text-align: center; top: 206px; cursor: pointer; left: 45px; display: none;">
          <img src="{:C('DOMAIN')}__IMG__/youjiantou.png" width="50" height="126" id="arrowright"
          onclick="rightOne0e76228ea4384003b1e970bf2bd40536();" style="position: absolute; text-align: center; top: 206px; cursor: pointer; right: 45px; display: none;">
        </div>
      </div>
    </div>
    <script language="javascript">
      var lock = false;
      var daqian = 0;
      var nextx = 0;
      var srcidx = document.getElementById('srcid');

      var setAlphaOpacity = function(el, i) {
        i = i / 100.0;
        if (window.getComputedStyle) { // for non-IE
          el.style.opacity = i;
        } else if (document.documentElement.currentStyle) { // for IE
          if (!el.currentStyle.hasLayout) {
            el.style.zoom = 1;
          }
          if (!el.currentStyle.hasLayout) { //在IE8中zoom不生效，所以再次设置inline-block
            el.style.display = 'inline-block';
          }
          try {
            //测试是否已有filter
            //http://msdn.microsoft.com/en-us/library/ms532847%28VS.85%29.aspx
            if (el.filters) {
              if (el.filters('alpha')) {
                el.filters('alpha').opacity = i * 100;
              } else {
                el.style.filter += 'alpha(opacity=' + i * 100 + ')';
              }
            }
          } catch(e) {
            el.style.filter = 'alpha(opacity=' + i * 100 + ')';
          }
        }
      }

      function leftOne0e76228ea4384003b1e970bf2bd40536() {
        if (lock) {
          return;
        } else {
          lock = true;
        }
        nextx = (daqian - 1 + plarray.length) % plarray.length;

        $("#bbb").animate({
          opacity: "0.2"
        },
        {
          complete: callbackx,
          queue: false,
          duration: 400
        });
      }

      function rightOne0e76228ea4384003b1e970bf2bd40536() {
        if (lock) {
          return;
        } else {
          lock = true;
        }
        nextx = (daqian + 1) % plarray.length;

        $("#bbb").animate({
          opacity: "0.2"
        },
        {
          complete: callbackx,
          queue: false,
          duration: 400
        });

      }

      function callbackx() {
        srcidx.style.backgroundImage = "url(" + plarray[nextx][0] + ")"; //document.getElementById('bbb').style.backgroundColor=plarray[nextx][1];
        setAlphaOpacity(document.getElementById('bbb'), 100);
        daqian = nextx;
        lock = false;
      }

      setInterval(rightOne0e76228ea4384003b1e970bf2bd40536, 12000);
    </script>
</block>
<!-- header  -->

<block name="content">
       <div class="main_all">
      <div class="main">
        <br id ="anli_maodian1">
        <div  class="main_1">
          <span > <!--编码-->{:C('WebNameSpell')}&nbsp;Case｜ <!--编码-->{:C('WebName')}案例 </span>
          <a style="margin-top: -12px" name="anli_maodian" ></a>
          <font style="float: right">
            <a style="margin-right: 10px" href="#">
              <img alt="" src="{:C('DOMAIN')}__IMG__/01.png"></a>
              <a style="margin-right: 10px" href="#">
              <img alt="" src="{:C('DOMAIN')}__IMG__/02.png"></a>
              <a href="#">
              <img alt="" src="{:C('DOMAIN')}__IMG__/03.png"></a>
            </font></div>

            <div class="main_1pic">
              <a target="_blank" href="#">
                <img onmouseout="this.src='{:C('DOMAIN')}__IMG__/anpic01.png'" onmouseover="this.src='{:C('DOMAIN')}__IMG__/anpic01a.png'" alt="" src="{:C('DOMAIN')}__IMG__/anpic01.png" style="margin-left:8px"></a>
              <a target="_blank" href="#">
                <img onmouseout="this.src='{:C('DOMAIN')}__IMG__/anpic02.png'" onmouseover="this.src='{:C('DOMAIN')}__IMG__/anpic02a.png'" alt="" src="{:C('DOMAIN')}__IMG__/anpic02.png" style="margin-left:52px"></a>
              <a target="_blank" href="#">
                <img onmouseout="this.src='{:C('DOMAIN')}__IMG__/anpic03.png'" onmouseover="this.src='{:C('DOMAIN')}__IMG__/anpic03a.png'" alt="" src="{:C('DOMAIN')}__IMG__/anpic03.png" style="margin-left:60px"></a>
              <a target="_blank" href="#">
                <img onmouseout="this.src='{:C('DOMAIN')}__IMG__/anpic04.png'" onmouseover="this.src='{:C('DOMAIN')}__IMG__/anpic04a.png'" alt="" src="{:C('DOMAIN')}__IMG__/anpic04.png" style="margin-left:36px"></a>
              <a target="_blank" href="#">
                <img onmouseout="this.src='{:C('DOMAIN')}__IMG__/anpic05.png'" onmouseover="this.src='{:C('DOMAIN')}__IMG__/anpic05a.png'" alt="" src="{:C('DOMAIN')}__IMG__/anpic05.png" style="margin-left:41px"></a>
              <a target="_blank" href="#">
                <img onmouseout="this.src='{:C('DOMAIN')}__IMG__/anpic06.png'" onmouseover="this.src='{:C('DOMAIN')}__IMG__/anpic06a.png'" alt="" src="{:C('DOMAIN')}__IMG__/anpic06.png" style="margin-left:54px"></a>
            </div>
            <div class="main_1a">
              <a href="#">餐饮&amp;会所</a>
              <a href="#">互联网&amp;科技</a>
              <a href="#">金融&amp;投资 </a>
              <a href="#">健康&amp;医药</a>
              <a href="#">农业&amp;产品</a>
              <a href="#">制造&amp;工业</a>
              <a href="#">企业&amp;集团</a>
              <a href="#">奢侈品&amp;红酒</a>
              <a href="#">文化&amp;教育</a>
              <a href="#">孕婴&amp;儿童</a>
              <a href="#">运动&amp;旅游</a>
              <a href="#">零售&amp;服饰</a>
            </div>
        <div class="main_1"  style="">
          <a id="anli_maodian" style="margin-top: -12px; height: 20px" name="anli">
          </a>
          <span>
            <!--编码-->
            Business&nbsp;&amp;&nbsp;Company｜
            <!--编码-->
            企业&amp;集团公司
          </span>
        </div>
        <div class="main_list" style="">
          <!--编码-->
          <ul>
            <volist name=":C('CASE_DISPLAY')" id="vo">
              <li>
                <a href="#" target="_blank">
                <img mouseenter="mouseenters(this)"  mouseleaver="mouseleavers(this)" class="listimags gray"
                src="{:C('DOMAIN')}__IMG__{$vo.caseImg}" style="border: 1px solid #b9b9b9; width: 332px;height: 284px;">
              </a>
              <div id="block_12"  style="display:none;">
                <a href="#" target="_blank"  style="display: none">
                  <div class="yinc_2">
                    <p>
                      <font style="font-size: 26px">
                         {$vo.caseName}
                      </font>
                      <br>
                      <font style="font-size: 18px">
                        {$vo.caseParameter1}
                      </font>
                      <br>
                      <font style="font-size: 14px">
                        {$vo.caseParameter2}
                      </font>
                      <br>
                      <font style="font-size: 14px">
                        {$vo.caseParameter3}
                      </font>
                    </p>
                  </div>
                </a>
              </div>
              </li>
            </volist>
          </ul>
        </div>
        <div class="main_6" style="display:none;">
          <div class="main_6_1" onclick="subx();" style="cursor: pointer">
            <img alt="" src="{:C('DOMAIN')}__IMG__/index_31.jpg">
          </div>
          <div class="main_6_2" >
            Read More &amp; 浏览更多案例
          </div>
          <div class="main_6_3" onclick="addx();" style="cursor: pointer">
            <img alt="" src="{:C('DOMAIN')}__IMG__/index_30.jpg">
          </div>
        </div>
        <br id ="anli_maodian2" style="display:none;">
        <div  class="main_1" style="margin-top: 53px;display:none;">
          <span >
            Other Work｜其他案例
          </span>
        </div>
        <div class="main_list_2" style="display:none;">
          <!--编码-->
          <ul>
            <volist name=":C('CASE_DISPLAY')" id="vo">
            {$vo.caseImg}:{$vo.caseParameter1}<br/>
              <li>
                <a href="#">
                  <img alt="" src="{:C('DOMAIN')}__IMG__{$vo.caseImg}">
                </a>
                <a href="#" style="dispaly:none;" >
                  <font style="margin-top: 5px; font-size: 20px">
                    {$vo.caseName}
                  </font>
                  <font style="font-size: 28px;" >
                    {$vo.caseParameter1}
                  </font>
                  <font style="margin-top: 5px; font-size: 14px">
                    {$vo.caseParameter2}
                  </font>
                  <font style="font-size: 14px;display:none;">
                   {$vo.caseParameter3}
                  </font>
                </a>
              </li>
            </volist>
          </ul>
          <ul style="display:none;">
            
            <li>
              <a href="#">
                <img alt="" src="{:C('DOMAIN')}__IMG__/rongchuang_00.jpg">
              </a>
              <a href="#" >
                <font style="margin-top: 5px; font-size: 20px">
                  CATERING&nbsp;ETDC
                </font>
                <font style="font-size: 28px;" >
                  RONGCHUANG荣创
                </font>
                <font style="margin-top: 5px; font-size: 14px">
                  品牌策略&amp;标志设计&amp;VI设计
                </font>
                <font style="font-size: 14px;display:none;">
                  企业&amp;集团
                </font>
              </a>
            </li>
            <!--空-->
            <li>
              <a href="#">
                <img alt="" src="{:C('DOMAIN')}__IMG__/juyouches_00.jpg">
              </a>
              <a href="#">
                <font style="margin-top: 5px; font-size: 20px">
                  聚优二手车商交互平台
                </font>
                <font style="font-size: 28px">
                  JUYOUCHE聚优车
                </font>
                <font style="margin-top: 5px; font-size: 14px">
                  品牌标志&amp;空间设计&amp;网站设计
                </font>
                <font style="font-size: 14px">
                  互联网&amp;汽车
                </font>
              </a>
            </li>
            <!--空-->
            <li>
              <a href="#">
                <img alt="" src="{:C('DOMAIN')}__IMG__/summer_00.jpg">
              </a>
              <a href="#">
                <font style="margin-top: 5px; font-size: 20px">
                  LOVE爱上夏派对
                </font>
                <font style="font-size: 28px">
                  SUMMER夏派
                </font>
                <font style="margin-top: 5px; font-size: 14px">
                  品牌策略&amp;品牌标志&amp;VI设计
                </font>
                <font style="font-size: 14px">
                  奢侈品&amp;派对
                </font>
              </a>
            </li>
            <input type="hidden" id="idxAlld1c6cc4145f146949bf0d41316080dc7" value="c63189,c71619,c93977">
          </ul>
        </div>
      </div>
    </div>
</block>

 <block name="script">
   <script type="text/javascript">
  
     

      $(document).ready(function(){
         $('.listimags').mouseover(function(){
          $(this).removeClass("gray");
        });
      
        $('.listimags').mouseout(function(){
          $(this).addClass("gray");
        });
      });
   </script>
 </block>