<extend name="Base/common"/>
<!-- header start -->
<block name="header">
   <script language="javascript">
      var plarray = new Array();
      plarray[0] = new Array("{:C('DOMAIN')}__IMG__/banner04.jpg", '');
      plarray[1] = new Array("{:C('DOMAIN')}__IMG__/banner02.jpg", '');
      plarray[2] = new Array("{:C('DOMAIN')}__IMG__/banner03.jpg", '');
    
    </script>	
    <div id="bbb" class="adx" style="opacity: 1;">
      <!--style="background-color:#040922"-->
      <div class="ad_neix">
        <div id="srcid" onmouseover="document.getElementById(&#39;arrowleft&#39;).style.display=&#39;&#39;;document.getElementById(&#39;arrowright&#39;).style.display=&#39;&#39;;"
        onmouseout="document.getElementById(&#39;arrowleft&#39;).style.display=&#39;none&#39;;document.getElementById(&#39;arrowright&#39;).style.display=&#39;none&#39;;"
        style="position: relative; width: 100%; min-width: 1043px; height: 538px; background: url(&quot;{:C('DOMAIN')}__IMG__/banner02.jpg&quot;) 50% 0% no-repeat;">
          <img src="{:C('DOMAIN')}__IMG__/zuojiantou.png" width="50" height="126" id="arrowleft"
          onclick="leftOne0e76228ea4384003b1e970bf2bd40536();" style="position: absolute; text-align: center; top: 206px; cursor: pointer; left: 45px; display: none;">
          <img src="{:C('DOMAIN')}__IMG__/youjiantou.png" width="50" height="126" id="arrowright"
          onclick="rightOne0e76228ea4384003b1e970bf2bd40536();" style="position: absolute; text-align: center; top: 206px; cursor: pointer; right: 45px; display: none;">
        </div>
      </div>
    </div>
    <script language="javascript">
      var lock = false;
      var daqian = 0;
      var nextx = 0;
      var srcidx = document.getElementById('srcid');

      var setAlphaOpacity = function(el, i) {
        i = i / 100.0;
        if (window.getComputedStyle) { // for non-IE
          el.style.opacity = i;
        } else if (document.documentElement.currentStyle) { // for IE
          if (!el.currentStyle.hasLayout) {
            el.style.zoom = 1;
          }
          if (!el.currentStyle.hasLayout) { //在IE8中zoom不生效，所以再次设置inline-block
            el.style.display = 'inline-block';
          }
          try {
            //测试是否已有filter
            //http://msdn.microsoft.com/en-us/library/ms532847%28VS.85%29.aspx
            if (el.filters) {
              if (el.filters('alpha')) {
                el.filters('alpha').opacity = i * 100;
              } else {
                el.style.filter += 'alpha(opacity=' + i * 100 + ')';
              }
            }
          } catch(e) {
            el.style.filter = 'alpha(opacity=' + i * 100 + ')';
          }
        }
      }

      function leftOne0e76228ea4384003b1e970bf2bd40536() {
        if (lock) {
          return;
        } else {
          lock = true;
        }
        nextx = (daqian - 1 + plarray.length) % plarray.length;

        $("#bbb").animate({
          opacity: "0.2"
        },
        {
          complete: callbackx,
          queue: false,
          duration: 400
        });
      }

      function rightOne0e76228ea4384003b1e970bf2bd40536() {
        if (lock) {
          return;
        } else {
          lock = true;
        }
        nextx = (daqian + 1) % plarray.length;

        $("#bbb").animate({
          opacity: "0.2"
        },
        {
          complete: callbackx,
          queue: false,
          duration: 400
        });

      }

      function callbackx() {
        srcidx.style.backgroundImage = "url(" + plarray[nextx][0] + ")"; //document.getElementById('bbb').style.backgroundColor=plarray[nextx][1];
        setAlphaOpacity(document.getElementById('bbb'), 100);
        daqian = nextx;
        lock = false;
      }

      setInterval(rightOne0e76228ea4384003b1e970bf2bd40536, 12000);
    </script>
</block>
<!-- header  -->

<block name="content">
      <div class="main_all">
      <div class="main">
        <div class="main_1">
          <span>
            <!--编码-->
            News&amp;Views｜
            <!--编码-->
            动态观点
          </span>
        </div>
        <div class="main_10">
          <!--编码-->
          <div id="sp3" class="main_10_box">
            <div class="main_10_box_1">
              <a href="#">
                <img alt="" width="326" height="204" src="{:C('DOMAIN')}__IMG__/1018.png">
              </a>
            </div>
            <div class="main_10_box_2">
              <p>
                <font style="line-height: 31px; font-size: 22px">
                  <a style="margin-top: -5px; height: 62px; font-size: 22px" href="#">
                    让设计，从改变自己开始（MPG合伙人成长计划）
                  </a>
                </font>
                <br>
                <font style="font-size: 12px">
                  June 21,2015
                </font>
                <br>
                <font style="height: 93px; font-size: 14px; overflow: hidden">
                  Studio1018是M&amp;C{:C('WebName')}国际旗下针对设计理论研究与商业价值创新的专案工作室，团队成员由多名跨领域资深合伙人组成。我们通过与具...
                </font>
              </p>
              <img alt="" src="{:C('DOMAIN')}__IMG__/index_38.jpg">
              <a style="margin-left: 5px" href="#">
                了解更多 &gt;
              </a>
            </div>
          </div>
          <!--空-->
          <!--空-->
          <!--空-->
          <div id="sp6" class="main_10_box">
            <div class="main_10_box_1">
              <a href="#">
                <img alt="" width="326" height="204" src="{:C('DOMAIN')}__IMG__/starbucks_00.jpg">
              </a>
            </div>
            <div class="main_10_box_2">
              <p>
                <font style="line-height: 31px; font-size: 22px">
                  <a style="margin-top: -5px; height: 62px; font-size: 22px" href="#">
                    品牌收缩定律，STARBUCKS星巴克的品牌战略
                  </a>
                </font>
                <br>
                <font style="font-size: 12px">
                  March 19, 2014
                </font>
                <br>
                <font style="height: 93px; font-size: 14px; overflow: hidden">
                  收缩焦点，你的品牌才会更强大。只用了短短几年时间，星巴克就成为美国最有名和最流行的一个品牌。收缩焦点，并不意味着只...
                </font>
              </p>
              <img alt="" src="{:C('DOMAIN')}__IMG__/index_38.jpg">
              <a style="margin-left: 5px" href="#">
                了解更多 &gt;
              </a>
            </div>
          </div>
          <!--空-->
          <!--空-->
          <!--空-->
          <div id="sp7" class="main_10_box">
            <div class="main_10_box_1">
              <a href="#">
                <img alt="" width="326" height="204" src="{:C('DOMAIN')}__IMG__/badtaste_00.jpg">
              </a>
            </div>
            <div class="main_10_box_2">
              <p>
                <font style="line-height: 31px; font-size: 22px">
                  <a style="margin-top: -5px; height: 62px; font-size: 22px" href="#">
                    GOOD DESIGN &amp; BAD TASTE好设计&amp;坏品味
                  </a>
                </font>
                <br>
                <font style="font-size: 12px">
                  June 18 2014
                </font>
                <br>
                <font style="height: 93px; font-size: 14px; overflow: hidden">
                  丑的设计是如何诞生的？{:C('WebName')}认为丑的设计源于客户的“坏品味”。其中包含两方面含义：1、客户选择合作设计者时的“坏品味”...
                </font>
              </p>
              <img alt="" src="{:C('DOMAIN')}__IMG__/index_38.jpg">
              <a style="margin-left: 5px" href="#">
                了解更多 &gt;
              </a>
            </div>
          </div>
          <div id="sp9" class="main_10_box">
            <div class="main_10_box_1">
              <a href="#">
                <img alt="" width="326" height="204" src="{:C('DOMAIN')}__IMG__/u1.png">
              </a>
            </div>
            <div class="main_10_box_2">
              <p>
                <font style="line-height: 31px; font-size: 22px">
                  <a style="margin-top: -5px; height: 62px; font-size: 22px" href="#">
                    做自己的主人！聊聊设计师如何掌握主动权
                  </a>
                </font>
                <br>
                <font style="font-size: 12px">
                  June 25,2015
                </font>
                <br>
                <font style="height: 93px; font-size: 14px; overflow: hidden">
                  真正有效的工作时间都只有40%，而浪费在争吵、等待、理解错误和反复修改的时间上确是大部分。所以与其浪费时间做错误的事情...
                </font>
              </p>
              <img alt="" src="{:C('DOMAIN')}__IMG__/index_38.jpg">
              <a style="margin-left: 5px" href="#">
                了解更多 &gt;
              </a>
            </div>
          </div>
          <!--空-->
          <!--空-->
          <!--空-->
          <div id="sp10" class="main_10_box">
            <div class="main_10_box_1">
              <a href="#">
                <img alt="" width="326" height="204" src="{:C('DOMAIN')}__IMG__/designer_00.jpg">
              </a>
            </div>
            <div class="main_10_box_2">
              <p>
                <font style="line-height: 31px; font-size: 22px">
                  <a style="margin-top: -5px; height: 62px; font-size: 22px" href="#">
                    唯设计思维者，决胜于未来【M&amp;C{:C('WebName')}思享】
                  </a>
                </font>
                <br>
                <font style="font-size: 12px">
                  December 26, 2013
                </font>
                <br>
                <font style="height: 93px; font-size: 14px; overflow: hidden">
                  人创造了品牌，品牌改变了人的社会，人最终是改变了自己。品牌的世界变化莫测，每一步都是尝试，而每一次尝试都是改变社会...
                </font>
              </p>
              <img alt="" src="{:C('DOMAIN')}__IMG__/index_38.jpg">
              <a style="margin-left: 5px" href="#">
                了解更多 &gt;
              </a>
            </div>
          </div>
          <!--空-->
          <!--空-->
          <!--空-->
          <div id="sp11" class="main_10_box">
            <div class="main_10_box_1">
              <a href="#">
                <img alt="" width="326" height="204" src="{:C('DOMAIN')}__IMG__/myotee_00.jpg">
              </a>
            </div>
            <div class="main_10_box_2">
              <p>
                <font style="line-height: 31px; font-size: 22px">
                  <a style="margin-top: -5px; height: 62px; font-size: 22px" href="#">
                    创始人答：MYOTee脸萌是怎么做到爆红的
                  </a>
                </font>
                <br>
                <font style="font-size: 12px">
                  June 12 2014
                </font>
                <br>
                <font style="height: 93px; font-size: 14px; overflow: hidden">
                  我在朋友圈里说过，80%是狗屎运，20%是一群机智的骚年，每天被老板（我）威逼利诱加班。运气就不说了，说些可能对大家有用的...
                </font>
              </p>
              <img alt="" src="{:C('DOMAIN')}__IMG__/index_38.jpg">
              <a style="margin-left: 5px" href="#">
                了解更多 &gt;
              </a>
            </div>
          </div>
          <!--空-->
          <!--空-->
          <!--空-->
          <div id="sp12" class="main_10_box">
            <div class="main_10_box_1">
              <a href="#">
                <img alt="" width="326" height="204" src="{:C('DOMAIN')}__IMG__/gooddesign_00.jpg">
              </a>
            </div>
            <div class="main_10_box_2">
              <p>
                <font style="line-height: 31px; font-size: 22px">
                  <a style="margin-top: -5px; height: 62px; font-size: 22px" href="#">
                    如何选择好（bu ai keng）的设计公司
                  </a>
                </font>
                <br>
                <font style="font-size: 12px">
                  July 07,2015
                </font>
                <br>
                <font style="height: 93px; font-size: 14px; overflow: hidden">
                  Sony索尼盛田昭夫说：“我们相信，今后我们的竞争对手将会和我们拥有基本相同的技术、类似的产品性能，乃至市场价格，而唯有...
                </font>
              </p>
              <img alt="" src="{:C('DOMAIN')}__IMG__/index_38.jpg">
              <a style="margin-left: 5px" href="#">
                了解更多 &gt;
              </a>
            </div>
          </div>
          <!--空-->
          <!--空-->
          <!--空-->
          <div id="sp13" class="main_10_box">
            <div class="main_10_box_1">
              <a href="#">
                <img alt="" width="326" height="204" src="{:C('DOMAIN')}__IMG__/mclogo_00.jpg">
              </a>
            </div>
            <div class="main_10_box_2">
              <p>
                <font style="line-height: 31px; font-size: 22px">
                  <a style="margin-top: -5px; height: 62px; font-size: 22px" href="#">
                    设计潜规则之不靠谱的LOGO设计【M&amp;C{:C('WebName')}思享】
                  </a>
                </font>
                <br>
                <font style="font-size: 12px">
                  April 18 2014
                </font>
                <br>
                <font style="height: 93px; font-size: 14px; overflow: hidden">
                  近日有一客户咨询LOGO设计，其言之：“你们这些设计公司的报价怎么都这么不靠谱，XX给我报了800，XX竟然给我报了15万！”
                </font>
              </p>
              <img alt="" src="{:C('DOMAIN')}__IMG__/index_38.jpg">
              <a style="margin-left: 5px" href="#">
                了解更多 &gt;
              </a>
            </div>
          </div>
          <!--空-->
          <!--空-->
          <!--空-->
          <div id="sp14" class="main_10_box">
            <div class="main_10_box_1">
              <a href="#">
                <img alt="" width="326" height="204" src="{:C('DOMAIN')}__IMG__/d1.png">
              </a>
            </div>
            <div class="main_10_box_2">
              <p>
                <font style="line-height: 31px; font-size: 22px">
                  <a style="margin-top: -5px; height: 62px; font-size: 22px" href="#">
                    换LOGO不能救一家公司，却能毁一个品牌
                  </a>
                </font>
                <br>
                <font style="font-size: 12px">
                  June 24,2015
                </font>
                <br>
                <font style="height: 93px; font-size: 14px; overflow: hidden">
                  企业换标主要有以下几点，企业战略调整的需要、企业品牌形象老化，适应新环境的需要。而更换标志是企业与时俱进中的一个过...
                </font>
              </p>
              <img alt="" src="{:C('DOMAIN')}__IMG__/index_38.jpg">
              <a style="margin-left: 5px" href="#">
                了解更多 &gt;
              </a>
            </div>
          </div>
          <!--空-->
          <!--空-->
          <!--空-->
          <div id="sp15" class="main_10_box">
            <div class="main_10_box_1">
              <a href="#">
                <img alt="" width="326" height="204" src="{:C('DOMAIN')}__IMG__/jj2.png">
              </a>
            </div>
            <div class="main_10_box_2">
              <p>
                <font style="line-height: 31px; font-size: 22px">
                  <a style="margin-top: -5px; height: 62px; font-size: 22px" href="#">
                    设计师能有什么成本
                  </a>
                </font>
                <br>
                <font style="font-size: 12px">
                  August 19,2015
                </font>
                <br>
                <font style="height: 93px; font-size: 14px; overflow: hidden">
                  设计师的成本是时间，每一天的时间是有限的，设计师挣钱，每分钱，都是得靠每个时间去思考、去书写、去执行换来得，也就是...
                </font>
              </p>
              <img alt="" src="{:C('DOMAIN')}__IMG__/index_38.jpg">
              <a style="margin-left: 5px" href="#">
                了解更多 &gt;
              </a>
            </div>
          </div>
          <!--空-->
          <!--空-->
          <!--空-->
          <div id="sp21" class="main_10_box">
            <div class="main_10_box_1">
              <a href="#">
                <img alt="" width="326" height="204" src="{:C('DOMAIN')}__IMG__/c1.png">
              </a>
            </div>
            <div class="main_10_box_2">
              <p>
                <font style="line-height: 31px; font-size: 22px">
                  <a style="margin-top: -5px; height: 62px; font-size: 22px" href="#">
                    维权先懂法！为设计师量身打造的个人版权指南
                  </a>
                </font>
                <br>
                <font style="font-size: 12px">
                  June 23,2015
                </font>
                <br>
                <font style="height: 93px; font-size: 14px; overflow: hidden">
                  设计师是智慧财富的创造者，对于我们而言，了解知识产权的相关知识是保护自我价值的前提与基础。对自己作品所享有的权利进...
                </font>
              </p>
              <img alt="" src="{:C('DOMAIN')}__IMG__/index_38.jpg">
              <a style="margin-left: 5px" href="#">
                了解更多 &gt;
              </a>
            </div>
          </div>
          <!--空-->
          <!--空-->
          <!--空-->
          <div id="sp22" class="main_10_box">
            <div class="main_10_box_1">
              <a href="#">
                <img alt="" width="326" height="204" src="{:C('DOMAIN')}__IMG__/b1.png">
              </a>
            </div>
            <div class="main_10_box_2">
              <p>
                <font style="line-height: 31px; font-size: 22px">
                  <a style="margin-top: -5px; height: 62px; font-size: 22px" href="#">
                    Frank Lloyd Wright:让设计超越时间
                  </a>
                </font>
                <br>
                <font style="font-size: 12px">
                  June 19,2015
                </font>
                <br>
                <font style="height: 93px; font-size: 14px; overflow: hidden">
                  Wright设计的房屋往往包括一个中心点及其周围开放的空间。他相信空间应该是灵活的，多用途的。在设计这些空间时，Wright总是会...
                </font>
              </p>
              <img alt="" src="{:C('DOMAIN')}__IMG__/index_38.jpg">
              <a style="margin-left: 5px" href="#">
                了解更多 &gt;
              </a>
            </div>
          </div>
          <!--空-->
          <!--空-->
          <!--空-->
          <div id="sp23" class="main_10_box">
            <div class="main_10_box_1">
              <a href="#">
                <img alt="" width="326" height="204" src="{:C('DOMAIN')}__IMG__/leica_00.jpg">
              </a>
            </div>
            <div class="main_10_box_2">
              <p>
                <font style="line-height: 31px; font-size: 22px">
                  <a style="margin-top: -5px; height: 62px; font-size: 22px" href="#">
                    选择一种被称作LEICA徕卡的至上生活哲学
                  </a>
                </font>
                <br>
                <font style="font-size: 12px">
                  September 05, 2013
                </font>
                <br>
                <font style="height: 93px; font-size: 14px; overflow: hidden">
                  在相机发展史上，选择某一个品牌的相机对于用户来说，不是选择那部相机，而是选择一种生活方式,这样的品牌可谓就是少之又少...
                </font>
              </p>
              <img alt="" src="{:C('DOMAIN')}__IMG__/index_38.jpg">
              <a style="margin-left: 5px" href="#">
                了解更多 &gt;
              </a>
            </div>
          </div>
          <!--空-->
          <input type="hidden" id="idxAll12af45289abc4e4290ac9b9a7dd3c382" value="c79944,c34192,c19138,c90322,c89261,c13597,c85738,c47135,c10034,c92839,c29381,c98101,c5316131,c10929,c45176,c36698,c76204,c36574,c40460,c11146,c44046,c15283,c48724">
          <!--空-->
        </div>
        <div class="main_11">

          <!--空-->
          <!--空-->
          <!--空-->
          <div class="main_11_box">
            <div class="main_11_box_1">
              <a href="#">
                <img alt="" width="326" height="204" src="{:C('DOMAIN')}__IMG__/aispacenew_00.jpg">
              </a>
            </div>
            <div class="main_11_box_2">
              <p>
                <font style="line-height: 31px; margin-top: 0px; font-size: 22px">
                  <a style="margin-top: -4px; font-size: 22px" href="#">
                    AISPACE爱空间，静享指尖时尚美丽，感受一方迷人空间
                  </a>
                </font>
                <br>
                <font style="font-size: 12px">
                  Jume 17, 2014
                </font>
                <br>
                <font style="height: 98px; font-size: 14px; overflow: hidden">
                  爱空间成立于2008年，是国际美甲业内最具专业、规范、影响力的连锁机构之一。08年风云际会，因缘天成，爱空间开始了对美甲时尚的追梦旅程，寻梦于美丽，筑梦于天下。取名Aispace是希望...
                </font>
              </p>
              <img alt="" src="{:C('DOMAIN')}__IMG__/index_38.jpg">
              <a style="margin-left: 5px" href="#">
                了解更多 &gt;
              </a>
            </div>
          </div>

          <!--空-->
          <!--空-->
          <!--空-->
          <div class="main_11_box">
            <div class="main_11_box_1">
              <a href="#">
                <img alt="" width="326" height="204" src="{:C('DOMAIN')}__IMG__/Q1.png">
              </a>
            </div>
            <div class="main_11_box_2">
              <p>
                <font style="line-height: 31px; margin-top: 0px; font-size: 22px">
                  <a style="margin-top: -4px; font-size: 22px" href="#">
                    设计与自然的思考
                  </a>
                </font>
                <br>
                <font style="font-size: 12px">
                  July 29,2015
                </font>
                <br>
                <font style="height: 98px; font-size: 14px; overflow: hidden">
                  “扯去你的虚荣，去探知绿色的世界，从中找到，你在艺术创作中的真正位置。”自然可以为设计找到表现形式、传达设计的内涵、提供设计的素材，打破某种文化特定的僵化思维模式。设计...
                </font>
              </p>
              <img alt="" src="{:C('DOMAIN')}__IMG__/index_38.jpg">
              <a style="margin-left: 5px" href="#">
                了解更多 &gt;
              </a>
            </div>
          </div>
          <!--空-->
          <!--空-->
          <!--空-->
          <div class="main_11_box">
            <div class="main_11_box_1">
              <a href="#">
                <img alt="" width="326" height="204" src="{:C('DOMAIN')}__IMG__/k1.png">
              </a>
            </div>
            <div class="main_11_box_2">
              <p>
                <font style="line-height: 31px; margin-top: 0px; font-size: 22px">
                  <a style="margin-top: -4px; font-size: 22px" href="#">
                    设计师！迷茫的我们存在哪些问题？
                  </a>
                </font>
                <br>
                <font style="font-size: 12px">
                  July 24,2015
                </font>
                <br>
                <font style="height: 98px; font-size: 14px; overflow: hidden">
                  过于依赖素材或者过于反感素材；过于依赖模仿，缺少自己的理解；无法鉴别作品好坏，作品好与坏也说不出所以然；没有理解设计的真正意义；忽略了设计以外的技巧，包括沟通，换位思考...
                </font>
              </p>
              <img alt="" src="{:C('DOMAIN')}__IMG__/index_38.jpg">
              <a style="margin-left: 5px" href="#">
                了解更多 &gt;
              </a>
            </div>
          </div>
          <!--空-->
          <!--空-->
          <!--空-->
          <div class="main_11_box">
            <div class="main_11_box_1">
              <a href="#">
                <img alt="" width="326" height="204" src="{:C('DOMAIN')}__IMG__/u5.png">
              </a>
            </div>
            <div class="main_11_box_2">
              <p>
                <font style="line-height: 31px; margin-top: 0px; font-size: 22px">
                  <a style="margin-top: -4px; font-size: 22px" href="#">
                    为什么平面设计师要在乎纽约设计周？
                  </a>
                </font>
                <br>
                <font style="font-size: 12px">
                  July 13,2015
                </font>
                <br>
                <font style="height: 98px; font-size: 14px; overflow: hidden">
                  如果平面设计师想要成为这个城市中最大设计庆典中的一部分，他们必须走出第一步。就像那些冒着放弃ICFF行业担保的风险而以个人名义参加展览的设计师们－－在他们试图在过程中和国际...
                </font>
              </p>
              <img alt="" src="{:C('DOMAIN')}__IMG__/index_38.jpg">
              <a style="margin-left: 5px" href="#">
                了解更多 &gt;
              </a>
            </div>
          </div>
          <!--空-->
          <!--空-->
          <!--空-->
          <div class="main_11_box">
            <div class="main_11_box_1">
              <a href="#">
                <img alt="" width="326" height="204" src="{:C('DOMAIN')}__IMG__/ad1.png">
              </a>
            </div>
            <div class="main_11_box_2">
              <p>
                <font style="line-height: 31px; margin-top: 0px; font-size: 22px">
                  <a style="margin-top: -4px; font-size: 22px" href="#">
                    日本设计为什么这么牛，我们能学到什么？
                  </a>
                </font>
                <br>
                <font style="font-size: 12px">
                  June 16, 2015
                </font>
                <br>
                <font style="height: 98px; font-size: 14px; overflow: hidden">
                  日本人对细节的态度——细节和整体对生活的意义是同样的，而整体的品质和可靠则是基于每一个细节的精致，粗糙的细节不可能产生优质的整体,一切设计都基于对行为方式的深入研究
                </font>
              </p>
              <img alt="" src="{:C('DOMAIN')}__IMG__/index_38.jpg">
              <a style="margin-left: 5px" href="#">
                了解更多 &gt;
              </a>
            </div>
          </div>
          <!--空-->
          <!--空-->
          <!--空-->
          <div class="main_11_box">
            <div class="main_11_box_1">
              <a href="#">
                <img alt="" width="326" height="204" src="{:C('DOMAIN')}__IMG__/swiss-design.jpg">
              </a>
            </div>
            <div class="main_11_box_2">
              <p>
                <font style="line-height: 31px; margin-top: 0px; font-size: 22px">
                  <a style="margin-top: -4px; font-size: 22px" href="#">
                    瑞士国际主义平面设计风格
                  </a>
                </font>
                <br>
                <font style="font-size: 12px">
                  June 15, 2015
                </font>
                <br>
                <font style="height: 98px; font-size: 14px; overflow: hidden">
                  Swiss&nbsp;Design这种风格简单明确，传达功能准确，因而很快得到世界范围内的普遍认可，成为战后影响最大的一种平面设计风格，也是国际最流行的风格，因此，又被称为国际主义平面设计风...
                </font>
              </p>
              <img alt="" src="{:C('DOMAIN')}__IMG__/index_38.jpg">
              <a style="margin-left: 5px" href="#">
                了解更多 &gt;
              </a>
            </div>
          </div>
          <!--空-->
          <input type="hidden" id="idxAlle87f67e7729d4935b72f7a6e8b433783" value="c95990,c94350,c95301,c59402,c59886,c86407,c78883,c58752,c76287,c46576,c51862,c92650">
          <!--空-->
        </div>
        <div class="main_6" style="display:none;">
          <div class="main_6_1" onclick="subx();" style="cursor: pointer">
            <img alt="" src="{:C('DOMAIN')}__IMG__/index_31.jpg">
          </div>
          <div class="main_6_2">
            Read More &amp; 浏览更多案例
          </div>
          <div class="main_6_3" onclick="addx();" style="cursor: pointer">
            <img alt="" src="{:C('DOMAIN')}__IMG__/index_30.jpg">
          </div>
        </div>
      </div>
    </div>
</block>